.vertical-line {
  width: 1px;
  background-color: whitesmoke;
}
input[type="checkbox"] {
  margin-right: 10px;
}

.input-group span{
  background: transparent;
  color:whitesmoke;
}
.input-group input {
  background: transparent;
  color:whitesmoke;
}
.input-group button {
  background: transparent;
  color:whitesmoke;
  border: 1px solid whitesmoke;
}

