<div class="row">
  <div class="col-sm-12 col-md-4" style="position:sticky">
    <img src="./assets/img/password-generator-3.png" alt="img/img/gp-strong-password" class="img-fluid mx-auto d-block"/>
  </div>
  <div class="col-sm-12 col-md-8 text-white">
    <div class="container">
      <div class="grid-container">
        <div class="input-group input-group-lg">
          <span class="input-group-text" id="basic-addon1" style="font-family: cursive;">Generated Password:</span>
          <input type="text" class="form-control" id="password" [value]="password" readonly>
          <button class="btn btn-primary"(click)="copyToClipboard()" style="font-family: cursive;" >
           <img src="./assets/icons/duplicate_wht.png" alt="copy icon" style="height: 25px; width:25px ;"/>
          </button>
        </div>
        <br />
        <div>
          <label for="passwordLength" style="font-family: cursive;">Password Length:</label>
          <input type="range" id="passwordLength" [(ngModel)]="passwordLength" min="6" max="20">
          <span>{{ passwordLength }}</span> <!-- Display current value of the slider -->
        </div>
        <br />
        <div>
          <input type="checkbox" id="includeUpperCaseLetter" [(ngModel)]="includeUpperCaseLetter">
          <label for="includeUpperCaseLetter" style="font-family: cursive;">ABC</label>
        </div>
        <br />
        <div>
          <input type="checkbox" id="includeLowerCaseLetter" [(ngModel)]="includeLowerCaseLetter">
          <label for="includeLowerCaseLetter" style="font-family: cursive;">abc</label>
        </div>
        <br />
        <div>
          <input type="checkbox" id="includeDigits" [(ngModel)]="includeDigits">
          <label for="includeDigits" style="font-family: cursive;">123</label>
        </div>
        <br />
        <div>
          <input type="checkbox" id="includeSpecialChars" [(ngModel)]="includeSpecialChars">
          <label for="includeSpecialChars" style="font-family: cursive;">Spl Chars ( &#33;&#64;&#35;&#36;&#37;&#94;&amp;&#42;&#40;&#41;&#95;&#43;&#123;&#125;&#91;&#93; )</label>
        </div>
        <br />
        <br />
        <button class="btn btn-primary" (click)="generatePassword()" style="align-items: center; font-family: cursive;">Generate Password</button>
      </div>
    </div>
  </div>
</div>