<nav class="navbar navbar-expand-sm" style="background-color: #1B4242;">
  <div class="container-fluid">
    <a class="navbar-brand" href="assets/img/Hero.png">PassShaper</a>
  </div>
</nav>
<br/>
<br/>
<div style="text-align:center">
  <h1 class="mb-16 text-center" style="font-family: cursive;">
    Welcome to PassShaper!
  </h1>
  <p class="body-2 mb-32 mb-lg-40 text-center" style="font-family: cursive;">Create strong and secure passwords to keep your account safe online.</p>
</div>
<!-- <app-password-generator></app-password-generator> -->
<br/>
<br/>
<br/>
<br/>
<app-password-generator></app-password-generator>




<!-- https://www.avast.com/en-in/random-password-generator#pc -->
